body, html {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.container {
  
}

.markdown_container {
  margin: auto;
  padding: 100px;
}

.markdown_editor {
  margin: auto;
  /* padding: 50px; */
}